@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* reset de propriedades */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: grey;

}
/* Configurações genéricas */

div.container-grid{
    width: 80%;
    margin: 0 auto;
    }

        /****CABEÇALHO****/
header {
    background-color: grey;
}

div.header-flex{
    display: flex;
    justify-content: space-between;

}

header h1{
    color: white;
    font-weight: 300;
}

header h1 #logoux{
    font-weight: 600;
    font-style: italic;
}

header nav{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    
}

        /*****  MAIN  *****/

div.colunas-flex{
    display: flex;
    justify-content: space-between;
}

main .coluna1{
    width: 75%;
}

main .coluna1 .img-lapis{
    width: 100%
}
main .coluna2{
    width: 20%;
}

.coluna1 h2{
    margin: 10px 2px;
}

.coluna1 p{
    margin: 8px 2px;
    text-align: justify;
}